<div class="landing">
	<h3>Scrapey Scrape
	</h3>
	<span>News Article Scraper</span>
</div>
<div class="row">
	<div class="articleContainer col s12">
		<ul class="col s12 collection articleCol z-depth-3"></ul>
	</div>
</div>
<footer>

</footer>

<script src="{{jsSource}}"></script>